<!--The content below is only a placeholder and can be replaced.-->

<!-- PARA CAMBIAR EL IDIOMA DE LA PAGINA
  <div class="header">
  <ul id="TOPBAR" class="pluginList" spotname="TOPBAR" style="width:960px;">
    <li dbid="243827" id="TOPBAR_ComboLanguagesU03" pluginname="ComboLanguagesU03"  class="ComboLanguagesU03 pluginListItem" pluginKey="ComboLanguagesU03" style="float:left; width:480px;">
      <div class='frame'>
        <div id="ComboLanguagesU032438272530" class="langcombo">
          <a class='langes-ar' title='Español'>
            <img title='Español' alt='Español' src='http://www.palermopropiedades.com/sys/resources/flags-svg/es-ar.svg' width='17' height='12'>
            <span class='languagename'>Español</span>
          </a>
          <span class='dropArrow'></span>
        </div>
        <ul id="ComboLanguagesU032438272530list" class="languages">
          <li id='langen-gb'>
            <a href="/engb/inmuebles/" title='English'>				
              <img title='English' alt='English' src='http://www.palermopropiedades.com/sys/resources/flags-svg/en-gb.svg' width='17' height='12'>
              <span class='languagename'>English</span>
            </a>
          </li>
        </ul>
        <script type='text/javascript' src="/tmp/_sys_plugins_ComboLanguagesU03_sc.js.min.js?fts=5cefac42" ></script>
        <script>SlideCombo('ComboLanguagesU032438272530')</script></div></li><li dbid="243828" id="TOPBAR_BasicContactPhoneU0S" pluginname="BasicContactPhoneU0S"  class="BasicContactPhoneU0S pluginListItem" pluginKey="BasicContactPhoneU0S" style="float:left; width:480px;">        <div class="frame" style="visibility: visible" >
        <div class="icon"></div>
        <div class="section">
          +5411 4831 4107            
        </div>
      </div>
    </li>
  </ul>
</div> -->

<p class="telefono">
  <img src="../extra/telefono.jpeg" alt="Logo teléfono">2052-4118
</p>

<router-outlet></router-outlet>
